@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html {
  box-sizing: border-box;
  font: 87.5%/1.4 HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h3 {
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
  margin: 0px;
}
.answer,
#question {
  border: 1px solid lightgrey;
  padding: 10px;
}
#wrapper.results {
  margin: 0 auto;
  width: 50%;
  padding: 30px;
}

.title {
  margin: auto;
  position: relative;
  width: 50%;
}
#wrapper {
  top: 25%;
  margin: auto;
  display: auto;
  height: 80%;
  max-width: 600px;
  max-height: 300px;
  position: relative;
  transform: translateY(-50%);
}
.answers {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 3fr 3fr 1.5fr;
}
#question {
  grid-column: span 2;
}
.choice {
  background: lightblue;
}

.invisible {
  opacity: 0;
}
#next {
  grid-column: 2;
  justify-self: end;
  width: 30%;
  color: white;
  background: blue;
  margin: 10px 5px;
}
.result {
  grid-template-columns: 1fr;
}
.score {
  align-self: center;
  justify-self: center;
  border: none;
}
